<h1>Portoflio items</h1>
<% @port_items.each do |item| %>
<h1><%= item.title %></h1>
<p><%= item.subtitle %></p>
<p><%= item.body %></p>
<%= link_to "Edit", edit_portfolio_path(item.id)%>
<a href="portfolios/<%= item.id %>/edit">Edit2</a>
<%= link_to "Create", new_portfolio_path %>
<%= link_to "show" , portfolio_path(item.id) %>
<%= link_to "destroy" , item , method: :delete, data: { confirm: 'Are you sure?' }%>
<%= image_tag  item.thumb_image unless item.thumb_image.nil? %>
<% end %>
